mixin projects()
  section#projects.common-section
    header.common-section__header
      h2 Projets
      p.
        Voici un aperçu des projets que j’ai réalisés dans un cadre 
        professionnel, lors de hackathons ou pendant mon temps libre.
    .projects-wrap
      .grid-container
        .projects
          each project in projects.list 
            figure.projects__item(data-izimodal-open="#"+project.id)
              img(src=project.vignette alt=project.title)
              figcaption
                div
                  h3= project.title
                  p En savoir plus
          
  each project in projects.list 
    div.iziModal(data-iziModal-title=project.title id=project.id data-izimodal-group="project")
      +modals(project.id)            
